<% title(@storyboard.title, "Storyboard") %>
	
<header>
	<h1><%= @storyboard.title %></h1>

	<ul class="actions">
		<li><%= link_to "Edit Storyboard",
			edit_storyboard_path(@storyboard), class: "edit" %></li>
		<li><%= link_to "Delete Storyboard",
			storyboard_path(@storyboard),
			method: :delete,
			data: { confirm: "Are you sure you want to delete this storyboard?" },
			class: "delete" %></li>
	</ul>
</header>

<p><%= @storyboard.description %></p>
<p>
	<% if @storyboard.default %>
		This is the default Storyboard
	<% end %>
</p>
<p>
	<% if @storyboard.debug_mode %>
		Debug mode is turned on
	<% else %>
		Debug mode is turned off
	<% end %>

<header>
	<h2>Frames</h2>

	<ul class="actions">
		<li><%= link_to "New Frame", new_storyboard_frame_path(@storyboard),
			class: "new" %></li>
	</ul>
</header>

<ul id="frames">
	<% @storyboard.frames.each do |frame| %>
		<li><%= link_to "#{frame.frame_order} - #{frame.scene.title} - #{frame.puzzle.name}", [@storyboard, frame] %></li>
<% end %>
</ul>
