	<div id="Story">
	<section id="Transcript" class="col">
		<%= @story.scene.transcript %>
	</section>

	<section id="Visual" class="col">
		<canvas id="canvas"></canvas>
	</section>
	</div>

	<div id="Puzzle_Box">
		<section id="Contract">
			<%= @story.puzzle.contract %>
		</section>
		<section id="Parameter_Section">
			Your Parameter/s: <span id="Parameter"> <%= @para.input %></span>
		</section>

		<section id="Input">
			<%= simple_form_for @game, url: test_code_games_path, remote: true do |f| %>
				<% if @debug %>
					<%= f.input :code, input_html: {value: @story.puzzle.solution, autocomplete: :off} %>
				<% else %>
					<%= f.input :code%>
				<% end %>
				<%= hidden_field_tag :parameter_id, @para.id, autocomplete: :off %>
				<div class="btn_center_align">
				<%= f.submit "Test Code", class: "game_btn_green" %>
				</div>
			<% end %>
		</section>

<section id="Result_Box">
	<div id="Test_Success">
		<p id="Success"><%= @success %>!!!</p>
		<%= simple_form_for @game, url: continue_game_games_path, remote: true do |f| %>
			<%= hidden_field_tag :frame_order, @story.frame_order, :autocomplete => :off %>
			<div class="btn_center_align">
			<%= f.submit "Continue", class: "game_btn_green" %>
			</div>
		<% end %>
	</div>

	<div id="Test_Failure">
		<p id="Failure">Sorry, but that is incorrect</p>
		<p id="Errors"></p>
		<div class="btn_center_align">
		<div class="game_link_btn_red">
		<%= link_to "Try Again", 'javascript:;',  id: "Try_Again" %>
		</div>
		</div>
	</div>
</section>






			<!-- <p id="Success">Success!!</p>
			<p id="Failure">Sorry, but that is incorrect</p>
			<%= simple_form_for @game, url: continue_game_games_path, remote: true do |f| %>
			<%= hidden_field_tag :frame_order, @story.frame_order, :autocomplete => :off %>
			<%= submit_tag "Continue", id: "Continue" %>
			<%= submit_tag "Try Again", id: "Try_Again" %>
			<% end %>
		</section> -->

</div>


