<% title(@puzzle.name, "Puzzles") %>
<header>
	<h1><%= @puzzle.name %></h1>

	<ul class="actions">
		<li><%= link_to "Edit Puzzle", edit_puzzle_path(@puzzle), class: "edit" %></li>
		<li><%= link_to "Delete Puzzle",
			puzzle_path(@puzzle),
			method: :delete,
			data: { confirm: "Are you sure you want to delete this puzzle?" },
			class: "delete"
		%></li>
	</ul>
</header>

<p><%= @puzzle.description %></p>
<p><%= @puzzle.contract %></p>
<p><%= @puzzle.solution %></p>

<header>
	<h2>Parameters</h2>

	<ul class="actions">
		<li><%= link_to "New Parameter", new_puzzle_parameter_path(@puzzle),
			class: "new" %></li>
	</ul>
</header>

<ul id="parameters">
<% @puzzle.parameters.each do |parameter| %>
	<li>
		<%= link_to parameter.input, [@puzzle, parameter] %>
	</li>
<% end %>
</ul>
